table, th, td{
  border: 1px solid black;
}

td{
  width:auto;
  max-width: 320px;
  overflow-x: auto;
}

.media {
  max-height: 240px;
}

.left{
  width: 50%;
  float:left;
}

.right{
  float:right;
  max-width: 48%;
  border: 1px solid black;
}

video {
  width:100%;
  height:auto;
  max-height: 240px;
}

img {
  width: 100%;
  height: auto;
  margin: 2px;
}
/*
th, tr, td, p, div, h1, form, label, input, select, option{
  background-color: inherit;
  color: inherit;
}
*/
