table, th, td{
  border: 1px solid white;
}


td{
  width:auto;
  max-width: 320px;
  overflow-x: auto;
}

.media {
  max-height: 240px;
}


#main{
  width: 80%;
  position: relative;
  float: left;
}

video {
  width:100%;
  height:auto;
  max-height: 240px;
}

img {
  width: 100%;
  height: auto;
  margin: 2px;
}


/*
#smallCanvas{
  top:0;
  float:right;
}
*/

#menuBox{
  width:100px;
  background-color: white;
  float: left;
  background-image: linear-gradient(to bottom, #000000 0%, #000066 100%);
  background-repeat: no-repeat;
  position: absolute;
  top:60px;
  left:15px;
  z-index: 1;
  //transform:translateX(-115px);/*transition left to edge of page*/
  /*Next I need a button to bring menu back and have it leave*/
  /*Example from Didi uses span for the menu lines, span, then before, then after
  One line was hid, the others turned into an X
  https://codepen.io/didimillermom/pen/PRwXqo
  */
}

#menu{
  width: 100%;
  height:auto;
  border: none;
  z-index: inherit;
}


#menu table, #menu tr, #menu td{
  border: none;
}

body{
  background-color: black;
  z-index: -2;
  background: linear-gradient(to bottom, #000000 0%, #000033 100%);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

#banner{
  width:100%;
  height:auto;
  border: solid white;
  min-height: 100px;
  text-align: center;
}

p, body, div, table, tr, td, form, a{
  color: white;
}
